[submodule "LibCppBinData"]
	path = LibCppBinData
	url = https://github.com/stephenbonar/LibCppBinData
[submodule "LibCppCmdLine"]
	path = LibCppCmdLine
	url = https://github.com/stephenbonar/LibCppCmdLine
